<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="col-md-12">
                    <div class="row">
                        <div class="row">
                            <div class="col-md-5">
                                <button type="button" ui-sref="gastank.insert" grands-button="new"></button>
                                <button type="button" ng-click="gastank.methods.delete(selectedValues)" grands-button="delete"
                                        ng-disabled="selectedValues.length == 0"></button>
                            </div>
                            <div class="col-md-7">
                                <gumga-query search="gastank.methods.search(field, param)" advanced-search="gastank.methods.advancedSearch(param)">
                                    <search-field field="name" label="Nome" select="true"></search-field>
                                    <search-field field="number" label="Número" ></search-field>
                                    <search-field field="product.name" label="Produto" ></search-field>
                                    <advanced-search-field type="string" label="Nome" field="name"></advanced-search-field>
                                    <advanced-search-field type="string" label="Número" field="number"></advanced-search-field>
                                    <advanced-search-field type="string" label="Produto" field="product.name"></advanced-search-field>
                                </gumga-query>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="margin-top:1%">
                        <gumga-list data="gastank.data"
                                    configuration="conf"
                                    class="table-striped"
                                    sort="gastank.methods.sort(field, dir)"
                                    page-size="gastank.pageSize"
                                    count="gastank.count"
                                    page-model="page"
                                    max-height="400px"
                                    on-page-change="gastank.methods.get(page, pageSize)"></gumga-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
